body {
  background-color: rgb(0, 0, 0);
  background-image: url("new1.gif");
  background-repeat: no-repeat;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#load {
  width: 150px;
  height: 150px;
}

#load circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;

  animation-name: load;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: center center;
}

#load circle:nth-child(1) {
  stroke: rgb(255, 255, 255);
  stroke-dasharray: 50;
  animation-delay: -3s;
}

#load circle:nth-child(2) {
  stroke: rgb(255, 255, 255);
  stroke-dasharray: 50;
  animation-delay: -6s;
}

#load circle:nth-child(3) {
  stroke: rgb(255, 255, 255);
  stroke-dasharray: 50;
  animation-delay: -9s;
}

#load circle:nth-child(4) {
  stroke: rgb(255, 255, 255);
  stroke-dasharray: 50;
  animation-delay: -12s;
}

@keyframes load {
  50% {
    transform: rotate(360deg);
  }
}
